.content {
  border: 1px solid black;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
}

img {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  /* display: inline-block; SE DEFORMA ALGUNOS!!! */

}
