.content {
  border: 1px solid #cfcaca;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #cfcaca;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 10px;
}

.content:hover {
  border: 1px solid #646464;
  box-shadow: 1px 1px 5px #666666;
}

.image {
  background-color: #f7f7f7;
  padding: 8px;
}

img {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  display: block;
  margin: auto;
  /* display: inline-block; SE DEFORMA ALGUNOS!!! */
}
