<div class="search-options">
  <input
    type="text"
    #searchInput
    (keyup)="searchPokemon(searchInput.value)"
    placeholder="Buscar Pokemon"
    class="form-control"
  />
  <!-- <button (click)="searchPokemon(searchInput.value)" class="btn btn-primary">
    Buscar
  </button> -->
</div>

<div class="card-list-pokemon">
  <app-card
    *ngFor="let poke of data?.items; index as i"
    [pokemon]="poke"
    [numero]="offset + i + 1"
    (showModal)="showModal($event)"
  ></app-card>
</div>
<div class="pagination-options">
  <button
    (click)="previousPage()"
    [disabled]="offset === 0"
    class="btn btn-primary"
  >
    Atrás
  </button>
  <button
    (click)="nextPage()"
    [disabled]="data?.currentPage === data?.totalPages"
    class="btn btn-primary"
  >
    Siguiente
  </button>
  <select class="form-select" (change)="onPageSizeChange($event)">
    <option value="24">24</option>
    <option value="48">48</option>
    <option value="72">72</option>
  </select>
</div>

<!-- The Modal -->
<div class="modal" id="pokemonModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detalle Pokemon</h4>
        <button
          type="button"
          class="btn-close"
          (click)="closeModal()"
          data-bs-dismiss="modal"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{ dataPokemon.name }}
        <div class="sprites" *ngIf="dataPokemon.sprites">
          <img src="{{ dataPokemon.sprites.front_default }}" alt="" />
          <img src="{{ dataPokemon.sprites.back_default }}" alt="" />
          <img src="{{ dataPokemon.sprites.front_shiny }}" alt="" />
          <img src="{{ dataPokemon.sprites.back_shiny }}" alt="" />
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="closeModal()"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
