:host {
  display: inline-block;
  min-height: 78vh;
  width: 100%;
}

.card-list-pokemon {
  width: 80%;
  margin: 30px auto;

  /* USO DE DISPLAY GRID */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;

  /* USO DE DISPLAY FLEX
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  */
}
