:host {
  display: block;
  width: 90%;
  margin: 15px auto;
}

.card-list-pokemon {
  /* USO DE DISPLAY GRID */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 10px;

  /* USO DE DISPLAY FLEX
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  */
}
