<div class="content">
  <app-card *ngFor="let poke of pokemones; index as i" [pokemon]="poke" [numero]="i" (showModal)="showModal($event)"></app-card>
</div>

<!-- The Modal -->
<div class="modal" id="pokemonModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detalle Pokemon</h4>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{dataPokemon.name}}
        <div class="sprites" *ngIf="dataPokemon.sprites">
          <img src="{{dataPokemon.sprites.front_default}}" alt="">
          <img src="{{dataPokemon.sprites.back_default}}" alt="">
          <img src="{{dataPokemon.sprites.front_shiny}}" alt="">
          <img src="{{dataPokemon.sprites.back_shiny}}" alt="">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
